* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 248, 238);
    font-family: Arial;
    font-size: 20px;
    padding: 50px;
}

.profilside-overskrift {
    color: rgb(110, 97, 78);
    margin-bottom: 50px;
}

.ramme-pb {
    text-align: center;
    color: rgb(110, 97, 78);
    border-bottom: 4px solid rgb(165, 145, 114);
}

.profilbilde-img {
    border-radius: 50%;
    border: 2px solid rgb(165, 145, 114);
}

.biografi-overskrift {
    color: rgb(110, 97, 78);
    margin-top: 40px;
    margin-bottom: 10px;
    text-indent: 15px;
    text-align: center;

}

.bio-box {
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid rgb(165, 145, 114);
    padding: 20px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.pf-overskrift {
    color: rgb(110, 97, 78);
    margin-top: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.figur-boks {
    background-color: rgb(165, 145, 114);
    margin-top: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    border-radius: 50px;
    border: 1px solid rgb(194, 176, 150);
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-family: Calibri;
    color: rgb(110, 97, 78);
}

.placeholder-img {
    border: 2px solid rgb(139, 119, 89);
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0px 3px 20px rgb(202, 198, 191);
    transition: transform 0.25s;
}

.placeholder-img:hover {
    box-shadow: 0px 3px 20px rgb(61, 53, 42);
    transform: scale(1.1);
    background-color: rgb(197, 195, 193);
}

#andersCanvas {
    /* Styling for canvas boksene, inni boksene på hovedsiden og på hver vår side. */
    width: 200px;
    height: 200px;
    background-color: #003049;
    border-radius: 5px;
}