* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 248, 238);
    font-family: Arial;
    font-size: 20px;
    padding: 50px;
}

.hjemmeside-overskrift {
    color: rgb(110, 97, 78);
    margin-bottom: 50px;
}

.p-overskrift {
    color: rgb(110, 97, 78);
    display: flex;
    justify-content: center;
    text-align: center;
}

.f-overskrift {
    color: rgb(110, 97, 78);
    margin-top: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.profilbilde-knapp {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 50px;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

.knapp-x {
    background-color: rgb(235, 233, 231);
    border: 2px solid rgb(165, 145, 114);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 3px 20px rgb(165, 145, 114);
    transition: .3s ease all;
}

.knapp-x:hover {
    box-shadow: 0px 3px 20px rgb(61, 53, 42);
    transform: scale(1.1);
    z-index: 1;
    background-color: rgb(226, 210, 184);
}

.navn-x {
    font-family: Calibri;
    color: rgb(110, 97, 78);
}

.p-img {
    margin: 5px;
    border: 2px solid gray;
    border-radius: 5px;
}

.figur-ramme {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10px;
    background-color: rgb(165, 145, 114);
    border: 1px solid gray;
    max-width: 1250px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: 1px solid rgb(194, 176, 150);
}

.figur-box-x {
    background-color: bisque;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid rgb(139, 119, 89);
    margin: 15px;
    box-shadow: 0px 0px 20px rgb(202, 198, 191);
}

#canvasA {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}

#canvasD {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}

#canvasE {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}

#canvasT {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}

#canvasJ {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}

#canvasZ {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}

#canvasJ2 {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}

#svgA {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}

#svgD {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}

.penguin {

    align-items: center;
    justify-content: center;
}

#svgE {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}

#svgT {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}

#svgJ {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}

#svgZ {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}

#svgJ2 {
    background-color: rgb(161, 142, 112);
    border-radius: 10px;
    border: solid 1px gray;
}








.profilside-overskrift {
    color: rgb(110, 97, 78);
    margin-bottom: 50px;
}

.ramme-pb {
    text-align: center;
    color: rgb(110, 97, 78);
}

.seperator-line-profile {
    display: flex;
    margin-top: 20px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid rgb(165, 145, 114);
    max-width: 350px;
}

.seperator-line-hjemmeside {
    display: flex;
    margin-top: 20px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid rgb(165, 145, 114);
}

.seperator-line-profile2 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid rgb(165, 145, 114);
}

.profilbilde-img {
    border-radius: 50%;
    border: 2px solid rgb(165, 145, 114);
}

.biografi-overskrift {
    color: rgb(110, 97, 78);
    margin-top: 40px;
    margin-bottom: 10px;
    text-indent: 15px;
    text-align: center;
}

.biografi {
    text-align: center;
}

.bio-box {
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid rgb(165, 145, 114);
    padding: 20px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.pf-overskrift {
    color: rgb(110, 97, 78);
    margin-top: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.figur-boks {
    background-color: rgb(165, 145, 114);
    margin-top: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 750px;
    border-radius: 50px;
    border: 1px solid rgb(194, 176, 150);
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-family: Calibri;
    color: rgb(110, 97, 78);
}

.lerret-boks {
    background-color: bisque;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid rgb(139, 119, 89);
    margin: 15px;
    box-shadow: 0px 0px 20px rgb(202, 198, 191);
}

.placeholder-img {
    height: 200px;
    width: 200px;
    border: 2px solid rgb(139, 119, 89);
    border-radius: 10px;
    margin: 8px;
    box-shadow: 0px 3px 20px rgb(202, 198, 191);
    transition: transform 0.3s;
}

.placeholder-img:hover {
    box-shadow: 0px 3px 20px rgb(61, 53, 42);
    transform: scale(1.1);
    background-color: rgb(197, 195, 193);
}


.pu-overskrift {
    color: rgb(110, 97, 78);
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}